.container {
  margin-top: 120px;
}

@keyframes waves {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    /* transform: translate(0px, 10px); */
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.waveSeg {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: blue;
  border-radius: 40px;
  left: 40px;
  display: inline-block;

  animation: waves 3s infinite;
  text-indent: -9999px;
  white-space: nowrap;
}
