.container {
  margin-top: 120px;
}

@keyframes waves {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    /* transform: translate(0px, 10px); */
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.waveSeg {
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: blue;
  border-radius: 20px;
  left: 20px;
  display: inline-block;

  text-indent: -9999px;
  white-space: nowrap;
}

.animateWave {
  animation: waves 10s infinite;
}
